---
layout: ""
page_title: "Provider: dockerhub"
description: |-
  Register hub.docker.io repositories.
---

# dockerhub Provider

Register hub.docker.io repositories.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
